* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";

    height: 5000px;
}
.header{
    width: 100%;
    height: 160px;
    background-color: #ECC30B;
    display: flex;
}
.title_block{
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
    margin-right: 510px;
    color: #4A3D03;
}
.icon_block{
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    color: #4A3D03;
}

.menu_wrapper{
    width: 100%;
    height: 60px;

    background-color: #F5E084;
    text-align: center;
}

.menu{
    position: relative;
    top: 18px;
}
a{
    color: #4A3D03;
    padding: 10px 25px;
    text-decoration: none;
    transition: color .9s;
}
a:hover{
    color: #F7F1D5;
}
.intro{
    background-color: #F7F1D5;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='50' height='50' viewBox='-570 0 68 1500' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_82_17)'%3e%3cpath d='M186.898 -2.98524L143.207 52.8259C122.834 78.8511 123.44 115.58 144.661 140.919L153.286 151.218C175.378 177.597 175.023 216.119 152.45 242.087L148.68 246.424C127.235 271.093 125.718 307.319 145.025 333.695L158.397 351.962C177.689 378.316 176.191 414.51 154.787 439.181L145.62 449.748C123.634 475.09 122.72 512.467 143.441 538.853L152.709 550.655C173.421 577.03 170.946 614.771 146.967 638.215V638.215C124.151 660.523 120.661 695.999 138.693 722.325L189.85 797.009' stroke='%234A3D03' stroke-width='5'/%3e%3cpath d='M164.898 -2.98524L121.207 52.8259C100.834 78.8511 101.44 115.58 122.661 140.919L131.286 151.218C153.378 177.597 153.023 216.119 130.45 242.087L126.68 246.424C105.235 271.093 103.718 307.319 123.025 333.695L136.397 351.962C155.689 378.316 154.191 414.51 132.787 439.181L123.62 449.748C101.634 475.09 100.72 512.467 121.441 538.853L130.709 550.655C151.421 577.03 148.946 614.771 124.967 638.215V638.215C102.151 660.523 98.6611 695.999 116.693 722.325L167.85 797.009' stroke='%234A3D03' stroke-width='5'/%3e%3cpath d='M212.898 -2.98524L169.207 52.8259C148.834 78.8511 149.44 115.58 170.661 140.919L179.286 151.218C201.378 177.597 201.023 216.119 178.45 242.087L174.68 246.424C153.235 271.093 151.718 307.319 171.025 333.695L184.397 351.962C203.689 378.316 202.191 414.51 180.787 439.181L171.62 449.748C149.634 475.09 148.72 512.467 169.441 538.853L178.709 550.655C199.421 577.03 196.946 614.771 172.967 638.215V638.215C150.151 660.523 146.661 695.999 164.693 722.325L215.85 797.009' stroke='%234A3D03' stroke-width='5'/%3e%3cpath d='M141.898 -2.98524L98.2072 52.8259C77.8341 78.8511 78.4401 115.58 99.6607 140.919L108.286 151.218C130.378 177.597 130.023 216.119 107.45 242.087L103.68 246.424C82.2348 271.093 80.7178 307.319 100.025 333.695L113.397 351.962C132.689 378.316 131.191 414.51 109.787 439.181L100.62 449.748C78.634 475.09 77.72 512.467 98.4409 538.853L107.709 550.655C128.421 577.03 125.946 614.771 101.967 638.215V638.215C79.1509 660.523 75.6611 695.999 93.6935 722.325L144.85 797.009' stroke='%234A3D03' stroke-width='5'/%3e%3cpath d='M99.8975 -2.98524L56.2072 52.8259C35.8341 78.8511 36.4401 115.58 57.6607 140.919L66.2864 151.218C88.3778 177.597 88.0231 216.119 65.4497 242.087L61.6796 246.424C40.2348 271.093 38.7178 307.319 58.0251 333.695L71.3965 351.962C90.6886 378.316 89.1908 414.51 67.7872 439.181L58.6198 449.748C36.634 475.09 35.72 512.467 56.4409 538.853L65.709 550.655C86.4211 577.03 83.9463 614.771 59.9673 638.215V638.215C37.1509 660.523 33.6611 695.999 51.6935 722.325L102.85 797.009' stroke='%234A3D03' stroke-width='5'/%3e%3cpath d='M123.898 -2.98524L80.2072 52.8259C59.8341 78.8511 60.4401 115.58 81.6607 140.919L90.2864 151.218C112.378 177.597 112.023 216.119 89.4497 242.087L85.6796 246.424C64.2348 271.093 62.7178 307.319 82.0251 333.695L95.3965 351.962C114.689 378.316 113.191 414.51 91.7872 439.181L82.6198 449.748C60.634 475.09 59.72 512.467 80.4409 538.853L89.709 550.655C110.421 577.03 107.946 614.771 83.9673 638.215V638.215C61.1509 660.523 57.6611 695.999 75.6935 722.325L126.85 797.009' stroke='%234A3D03' stroke-width='5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_82_17'%3e%3crect width='248' height='797' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.intro_title{
    margin-top: 65px;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    color: #4A3D03;
}

.main_intro{
    margin-top: 71px;
    margin-bottom: 100px;

    display: flex;
    justify-content: center;

    background-color: #F7F1D5;
}
.intro_left {
    margin-left: 70px;
    margin-top: 0px;
    margin-right: 70px;
    margin-left: 0px;
}
.intro_right{
    margin-top: 0px;
    margin-left: 50px;
    max-width: 496px;
}

.intro_text{
    font-style: normal;
    font-weight: 505px;
    width: 450px;
    height: 496px;
    line-height: 24px;

    color: #4A3D03;
}
.intro_img{
    width: 459px;
    height: 485px;
}
.redkol{
    background-color: #FAEEB6;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1750px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1750' height='1750' viewBox='0 0 1750 1750' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_92_20)'%3e%3cline x1='-1.46553' y1='86.9746' x2='121.534' y2='-2.02539' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='-1.40942' y1='240.935' x2='354.591' y2='-2.06483' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='-1.37498' y1='186.912' x2='285.625' y2='-2.08793' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='-1.40012' y1='214.929' x2='319.6' y2='-2.07114' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='-1.46742' y1='113.976' x2='158.533' y2='-2.02402' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='-1.39368' y1='136.925' x2='205.606' y2='-2.07548' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='-1.40416' y1='164.932' x2='244.596' y2='-2.0684' stroke='%234A3D03' stroke-width='5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_92_20'%3e%3crect width='366' height='245' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e "),  
                      url("data:image/svg+xml;charset=UTF-8,%3csvg width='1750' height='1750' viewBox='-1160 -1430 1750 1750' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_94_22)'%3e%3cline x1='360.806' y1='4.72818' x2='51.8065' y2='327.728' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='360.751' y1='165.784' x2='196.751' y2='326.784' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='142.213' y1='323.251' x2='360.44' y2='100.251' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='363.792' y1='36.7429' x2='81.7923' y2='326.743' stroke='%234A3D03' stroke-width='5'/%3e%3cpath d='M362.38 73.2273L112 324.585' stroke='%234A3D03' stroke-width='5'/%3e%3cline x1='363.759' y1='132.777' x2='167.759' y2='326.777' stroke='%234A3D03' stroke-width='5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_94_22'%3e%3crect width='359' height='326' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}
.redkol_title{
    margin-top: -150px;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    color: #4A3D03;
}
#circle1{
    width: 280px; 
    height: 280px;
    background: white;
    border-radius: 140px;
    margin-left: -600px;
    margin-top: 50px;
}
.redkol_right{
    margin-top: 0px;
    margin-left: 0px;
    max-width: 0px;
}
.circle_text1 {
    font-weight: 300px;
    margin-left: -200px;
    margin-top: -170px;
    margin-bottom: 0px;
    width: 700px;
    height: 100px;
    text-align: left;
    color: #4A3D03;
    font-size: 30px;
}
#circle2{
    width: 280px; 
    height: 280px;
    background: white;
    border-radius: 140px;
    margin-left: -600px;
    margin-top: 150px;
}
.circle_text2 {
    font-weight: 300px;
    margin-left: -200px;
    margin-top: -170px;
    margin-bottom: 0px;
    width: 700px;
    height: 100px;
    text-align: left;
    font-size: 30px;
    color: #4A3D03;
}
#circle3{
    width: 280px; 
    height: 280px;
    background: white;
    border-radius: 140px;
    margin-left: -600px;
    margin-top: 150px;
}
.circle_text3 {
    font-weight: 300px;
    margin-left: -200px;
    margin-top: -170px;
    margin-bottom: 0px;
    width: 700px;
    height: 100px;
    text-align: left;
    font-size: 30px;
    color: #4A3D03;
}
#circle4{
    width: 280px; 
    height: 280px;
    background: white;
    border-radius: 140px;
    margin-left: -600px;
    margin-top: 150px;
}
.circle_text4 {
    font-weight: 300px;
    margin-left: -200px;
    margin-top: 150px;
    width: 700px;
    height: 100px;
    text-align: left;
    font-size: 30px;
    color: #4A3D03;
}
.partners{
    background-color: #ECC30B;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 550 1610 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0.991961' y1='4.54176' x2='635.992' y2='2.49996' stroke='%234A3D03' stroke-width='5'/%3e%3c/svg%3e "),
                      url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='-970 550 1610 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0.991961' y1='4.54176' x2='635.992' y2='2.49996' stroke='%234A3D03' stroke-width='5'/%3e%3c/svg%3e ");
}
.partners_title{
    margin-top: 68px;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    color: #4A3D03;
}
.partners_right{
    margin-top: 0px;
    margin-left: 0px;
    max-width: 496px;
    justify-content: right;
}
#circle5{
    width: 280px; 
    height: 280px;
    background: white;
    border-radius: 140px;
    margin-left: -600px;
    margin-top: 70px;
}
#circle6{
    width: 280px; 
    height: 280px;
    background: white;
    border-radius: 140px;
    margin-left: 590px;
    margin-top: -280px;
}
.circle_text5 {
    font-weight: 300px;
    margin-left: -120px;
    margin-top: 50px;
    width: 700px;
    height: 100px;
    text-align: left;
    font-size: 30px;
    color: #4A3D03;
}
.circle_text6 {
    font-weight: 300px;
    margin-left: 475px;
    margin-top: -100px;
    width: 700px;
    height: 100px;
    text-align: left;
    font-size: 30px;
    color: #4A3D03;
}
.author_intro {
    background-color: #F7F1D5;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.author_right{
    margin-top: -260px;
    margin-left: 530px;
    max-width: 800px;
}
.author_text {
    font-style: normal;
    font-weight: 2500px;
    width: 450px;
    height: 500px;
    line-height: 30px;
    color: #4A3D03; 
}
.author_title{
    margin-bottom: 100px;
    margin-top: -170px;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #4A3D03;
}
.icon1 {
    margin-top: -50px;
    margin-left: -1100px;
}
.icon2 {
    margin-top: -185px;
    margin-left: -400px;
}
.icon3 {
    margin-top: -185px;
    margin-left: 300px;
}
.icon4 {
    margin-top: -185px;
    margin-left: 1000px;
}
.icon1_text {
    margin-left: -1090px;
    color: #4A3D03;
    font-size: 15px;
}
.icon2_text {
    margin-top: -20px;
    margin-left: -390px;
    color: #4A3D03;
    font-size: 15px;
}
.icon3_text {
    margin-top: -20px;
    margin-left: 320px;
    color: #4A3D03;
    font-size: 15px;
}
.icon4_text {
    margin-top: -20px;
    margin-left: 1020px;
    color: #4A3D03;
    font-size: 15px;
    margin-bottom: 150px;
}